body {
    background-color: RGB(35, 57, 106);
    color: white;
    font-family: 'Noto Sans', sans-serif;
}


.heading {
    color: RGB(54, 179, 110);
}

p {
    font-size: 12px;
}

a {
    color : #c32955;
}